.wrap {
    display: grid;
    grid-template-rows: 130px auto; /* 헤더의 높이와 나머지 영역 */
    grid-template-columns: 300px 1fr; /* 사이드바와 메인 영역 */
    height: 900px; /* 전체 높이 설정 */
}

.header {
    border-bottom: 1px solid yellowgreen;
    height: 130px;
    width: 100%;
    color: red;
    background-color: lightyellow;
    grid-column: 1 / span 2; /* 전체 너비를 차지하도록 설정 */
}

.sidebar {
    width: 300px;
    height: 100%; /* 사이드바 높이 전체 */
    background-color: lightyellow;
}

.sidebar a {
    display: block;
    margin: 0px;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    color: rgb(38, 141, 175);
    font-size: 20px;
    position: relative;
}

.sidebar a img {
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
    height: 22px;
    width: 22px;
}

.main {
    padding-left: 20px;
    height: 100%; /* 메인 영역 높이 전체 */
}

.main p {
    font-size: 24px;
    font-weight: bold;
}


.userList {
    margin-top: 20px;
    width:1150px;
    height: 300px;
    border-collapse: collapse; //셀 간격을 없앰
}

.userList thead{
    height: 30px;
}

.userList th,
.userList td {
    border-bottom: 1px solid black; // 제목과 내용 사이에 경계선
    font-size: 13px;
    text-align: center;
}

.userList th {
    background-color: #f0f0f0;
    font-weight: bold;
}


.allDel{
    
    position: absolute;
    color: white;
    background-color: yellowgreen;
    border: none;
    padding: 7px;
    margin-top: 10px;
    right: 50px;
}

.downExcell{
    padding: 7px;
    margin-top: 10px;
    background-color: yellowgreen;
    color: white;
    border: none;

}

//검색

.search{
    display: flex;
    position: relative;
    margin-left: 845px;

}

.searchCate{
    padding: 5px;
    display: inline-block;
    border: 1px solid gray;
}


.searchContent{
    
    padding: 5px;
    border: 1px solid gray;
    display: inline-block;

}

.searchBtn{

    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: yellowgreen;
    color: white;
    border: none;
    cursor: pointer;
}
